---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    {% include feature/image.html objectid="fgcu_ph_0001" %}

    {% include index/description.html %}

  Featured Images from Pre-Hurricane Donna
    
    {% include feature/image.html objectid="fgcu_ph_0006" %}
    {% include feature/image.html objectid="fgcu_ph_0001" %}
    {% include feature/image.html objectid="fgcu_ph_0011" %}

  Featured Images from Post-Hurricane Donna
    {% include feature/image.html objectid="fgcu_ph_0005" %}
    {% include feature/image.html objectid="fgcu_ph_0014" %}
    {% include feature/image.html objectid="fgcu_hd_0005" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
  
</div>
